---
name: Test
on: pull_request
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          issue_number: "4"
          status: ${{ job.status }}
