---
name: Test
on: pull_request
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          issue_number: "4"
          status: ${{ job.status }}
